* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

canvas {
    margin: 50px auto;
    border: 1px solid black;
    width: 560px;
    height: 360px;
}

h2 { 
    font-size: 24px;
    background-color: rgb(68, 1, 1);
    color: aliceblue;
    padding: 24px;
    width: 100vw;
    text-align: center;
}